<!DOCTYPE html>
	<html>
		<head>
			{% include gtag.js %}
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	    		</ul>
			</nav>
			<main class="container">
			
			{{ content }}
			
			</main><!-- /.container -->
			<footer>
	    		<ul>
				<li>View this site's source on <a href="https://github.com/theTaikun/theTaikun.github.io">GitHub</a></li>
			</ul>
			</footer>
		</body>
	</html>
